.todoFormContainer {
	margin-bottom: 30px;
	& form {
		display: flex;
		align-items: center;
		justify-content: center;

		& input {
			width: 45%;
			height: 30px;
			font-size: 1.3rem;
			padding: 10px 15px;
			border: none;
			border-radius: 5px;
		}

		& button {
			margin-left: 20px;
			height: 50px;
			cursor: pointer;
			background-color: #d25238;
			font-size: 1.5rem;
			padding: 10px 15px;
			border: none;
			border-radius: 5px;
			color: #eff2ec;
			&:hover {
				background-color: #eeca4a;
			}
		}
	}
}
